html {
    background-image:url('eye.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    overflow: hidden;
    color: white;
    font-size: 20px;
}

body {           
    height:100%;
    overflow: scroll;
}

main {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 1em;
}