html {
    background-image:url('eye.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    overflow: hidden;
    color: white;
}

body {           
    height:100%;
    overflow: scroll;
}