<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">    
    <script src="../static/scripts.js"></script>    
    <title>History | Flash Monitor</title>
</head>

<body>
    <h1>History</h1>
    <div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Times</div>
        ---------------------------
    </div>

    {% for x in keylist %}
        {{x}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{record[x]}}<br>
    {% endfor %}

</body>

</html>