<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">    
    <script src="../static/scripts.js"></script>  
    <script src="../static/jquery.min.js"></script>    
    <script>
        function save(){
            var elem = document.getElementById("count");
            $.post( "", {
                times: Number(elem.innerText),
                date: (new Date()).toDateString()
            });
            document.getElementById("message").innerText = "Updated!"
            setTimeout(function(){
            	document.getElementById("message").innerText = "";
            },2000);
        }
    </script>
    <title>Flash Monitor</title>
</head>

<body>
    <input type="button" onclick="location.href='/history';" value="View History"/>
    <h6 id="date"></h6>
    <button onclick="decrement()">-</button>
    <span id="count">{{count}}</span>
    <button onclick="increment()">+</button><br>
    <button onclick="save()">Save</button><br>
    <span id="message"></span>
    <script>
        getDate();
    </script>
</body>

</html>